<div class="container">
	<h1>Educación</h1>
	<div class="row">
		<div class="col-md-12">
			<label for="education"></label>
			<textarea class="form-control" rows="10" id="education" placeholder="Aquí va tu educación"></textarea>
			<button type="submit" class="btn btn-lg btn-primary glyphicon glyphicon-pencil"></button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<textarea class="form-control rows="5" id="edit" placeholder="Aquí va lo que quieras editar"></textarea>
			<button type= "submit" class="btn btn-danger">Enviar cambio</button>
		</div>
	</div>
</div>
