<div class="row">
	<div class="col-sm-12 imagen">
		<img src="%Foto%" /><!--%photo-->
	</div>
</div>

<div class="row">
	<div class="col-sm-12 box1">
		<h1>%Nombre% %Apellido%</h1><!-- %firstName% %lastName%-->

		<span> </span><!--%education%-->
	</div>
</div>

<div class="row">
	<div class="col-sm-12 box2">
		<ul>
			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-envelope"></i>
					</div>
					<div class="col-sm-10">
						<span>%Email%</span><!--%email%-->
					</div>
				</div>
			</li>

			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-calendar"></i>
					</div>
					<div class="col-sm-10">
						<span>%Fecha Nac%</span><!--%birthday%-->
					</div>
				</div>
			</li>

			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-asterisk"></i>
					</div>
					<div class="col-sm-10">
						<span>%Sexo%</span><!--%gender%-->
					</div>
				</div>								
			</li>

			<li>
				<div class="row">
					<div class="col-sm-2">
						<i class="glyphicon glyphicon-map-marker"></i>
					</div>
					<div class="col-sm-10">
						<span>%Direccion%</span><!--%address%-->
					</div>
				</div>											
			</li>
		</ul>

		<div class="row">
			<div class="col-sm-12 edit">
				<button class="form-control btn-default" id="editButton" type="button" class="btn">Edit User</button>
			</div>
		</div>		
	</div>
</div>