.contain{
	background-color: #303030;
	width: 800px;
	height: 400px;
}

.caja{
	
	max-width: 100%;
	height: 100px;
	
}
.contain2{
	margin-top: 10px;
	background-color: #303030;
	width: 800px;
	height: 100px;

}
.fila{
	width: 100%;
	height: 25px;
	
	display: block;
	padding-top: 20px;

}
#uno{
	height: 60px;
	width: 250px;
	background-color: red;
	align-content: center;
	margin: 10px 50px 10px 50px;
	

}
#dos{

}
#tres{

}
#cuatro{

}
#cinco{

}