
#color2{
	background-color: #eeeeee;
}
#color1{
	background-color: #fff;
	margin-left: 10px;
	margin-top: 10px;
}
#color3{
	background-color: #a0a0a0;
}
#color4{
	background-color: #fff;
	margin-top: 20px;	
	height: 80%;
}
#formato1{
	width: 100%;
	height: 50%;
}
#formato2{
	height: 25%;
}
#comen{
	width: 100%;
}


